/**
 * Media Queries Breakpoint
 */
/* =============================================================================
 * Under 320px. 320x568, iPhone 5, iPhone SE, etc.
 * ========================================================================== */
/* ---------------------------------------------------------
 * Basic
 *------------------------------------------------------- */
body {
	font-family:			sans-serif;
	color:						#333333;
	background:				#fcfcfc;
	line-height:			1.5;
}
img,
amp-img {
	display: 					block;
	margin: 					0 auto;
	height:						auto;
	max-width: 				100%;
}
textarea {
	max-width:				90%;
}
strong {
	font-weight:			bold;
}
i,
em {
	font-style:				italic;
}
hr {
	display:					block;	
	height:						1px;
	background-color:	#E0E0E0;
	border:						0;
	margin:						0;
	padding:					0;
}
iframe {
	display:					block;
	margin:						auto;
}
sup {
	vertical-align:		super;
	font-size:				0.8rem;
}
sub {
  vertical-align: 	sub;
  font-size: 				0.8rem;
}
pre,
blockquote {
  margin: 1rem;
  white-space: pre-wrap;
  overflow: auto;
}
/* a -------------------------------- */
a {
	text-decoration:	none;
  word-break: break-all;
}
a:visited {
	color:						#7B1FA2;	/* Purple */
}
a:link 		{
	color:						#1976D2;	/* Blue */
}
a:hover 	{
	color:						#0097A7;	/* Cyan */
}
a:active 	{
	color:						#388E3C;	/* Green */
}
/* ---------------------------------------------------------
 * Layout
 * ------------------------------------------------------ */
.wrap {
	margin:						0.5rem;
}
.top {
	text-align:				center;
	vertical-align: 	middle;
}
.body-footer {
	margin: 					0 auto;
}
footer {
	margin-top:				0.5rem;
}
/* ---------------------------------------------------------
 * Parts
 * ------------------------------------------------------ */
.blog-desc {
	text-align:				center;
	font-size:				0.8rem;
	color:						#7f7f7f;
}
.top img,
.top amp-img {
	max-width:				600px;
	width:						100%;
}
.menu-title {
	text-align:				center;
}
.ad {
	margin-top:				0.5rem;
	margin-bottom:		0.5rem;
	text-align:				center;
}
.copyright {
	margin:						0.5rem 0;						
	text-align:				center;
	font-size:				0.8rem;
	color:						#7f7f7f;
}
/* Searchform ----------------------- */
.searchform {
	margin:						0.25rem 0;
	text-align:				center;
	vertical-align: 	middle;
}
.searchform input{
	width: 						65%;
	text-align:				left;
	vertical-align: 	middle;
	font-size:				1rem;
	padding: 					0.25rem;
	border-radius:		0.25rem;
}
.searchform .searchbutton {
	width:						25%;
	text-align:				center;
	padding:					0.1rem 0;
}
/* Header article ------------------- */
.header-article {
	position:					relative;
}
.header-article-title {
	position:					absolute;
	bottom:						0;
	width:						100%;
	background-color:	rgba(255, 255, 255, 0.6);
}
.header-article-title.no-thumbnail {
	position:					static;
	background-color:	#ebf6f7;
}
.header-article-title h1 {
	font-size:				1.6rem;
	line-height:			1.4;
	padding:					0.5rem;
	color:						#333333;			
}
/* Pagination ----------------------- */
.pagination {
	vertical-align:		middle;
	text-align:				center;
}
.pagination .page-numbers {
	display:					none;
	width:						0;
	margin:						0;
	padding:					0;
	border: 					none;
}
.pagination .current,
.pagination .prev,
.pagination .next {
	display: 					inline-block;
	width: 						calc(100% / 3 - 2.5rem);
	margin:						0.5rem;
	padding:					0.25rem;
	height:						1.5rem;
	text-align:				center;
	border:						1px solid #E0E0E0; /* Grey */
}
.pagination .current {
	border: 					none;
}
.pagination a {
	background-color:	white;
	border:						1px solid #E0E0E0; /* Grey */
	border-radius:		0.25rem;
}
/* Menu ----------------------------- */
.menu-wrap a:visited {
	color:						#333333;
}
.menu-wrap a:link 		{
	color:						#333333;
}
.menu-wrap li,
.menu-wrap div {
	vertical-align: 	middle;
	display:					inline-block;
	width:						calc(100% - 2rem);
	margin:						0;
	padding:					0.5rem 1rem;
	overflow:					hidden;
	white-space:			nowrap;
	text-overflow:		ellipsis;
	border-top:				1px solid #E0E0E0;	/* Grey */
}
.menu-wrap .two-columns {
	margin:						0;
	text-align: 			center;
	width:						calc(100% / 2 - 2rem);
}
.two-columns-wrap a:nth-child(even) div {
	border-left:			1px solid #E0E0E0;
	width:						calc(100% / 2 - 2rem - 1px);
}
.two-columns {
	background-color:	white;
}
.body-footer .footer-menu-wrap .menu-wrap div  {
	background-color: inherit;
	font-size:				0.9rem;
}
/* Breadcrumb ----------------------- */
.breadcrumb-wrap a:visited {
	color:						#1976D2;
}
.breadcrumb-wrap a:link 		{
	color:						#1976D2;
}
.breadcrumb-icon {
	margin-right: 		0.5rem;
}
.breadcrumb-separater {
	margin: 					0 0.5rem;
}
.breadcrumb-wrap ul,
.breadcrumb-wrap li {
	display:					inline-block;
}
.breadcrumb-wrap>ul>li {
	display:					block;
}
/* Tag ----------------------------- */
.tag-wrap a {
    position:				relative;
    display:				inline-block;
    width:					auto;
    height:					28px;
    line-height:		28px;
		font-size:			16px;
    color:					#fff;
    background: 		#60b3f6;				/* light blue */
    margin: 				6px 28px 6px 0;
    padding: 				0 8px;
    left: 					16px;
    white-space: 		nowrap;
    transition: 		200ms background-color;
}
.tag-wrap a::before {
    content: 				"";
    position:	 			absolute;
    display: 				block;
    width: 					0;
    height: 				0;
    margin: 				0;
    padding: 				0;
    top: 						0;
    left: 					-14px;
    border-top   : 	solid 14px transparent;
    border-right : 	solid 14px #60b3f6;			/* light blue */
    border-bottom: 	solid 14px transparent;
    border-left  : 	0;
    transition: 		200ms border-right-color;
}
.tag-wrap a:hover {
  background: 			#0097A7;
}
.tag-wrap a:hover::before {
  border-right-color: #0097A7;
}
/* Comment -------------------------- */
li.comment {
	margin:						0.5rem;
	list-style-type:	none;
}
li.comment img,
li.comment amp-img {
	margin:						0.5rem;
}
.comment-respond h3,
.comment-respond p {
	margin:						0.5rem;
}
p.comment-form-comment label {
	vertical-align:		top;
}
/* Article list --------------------- */
.article-list {
	margin:						0.5rem 0 0 0;
}
.article-list>li {
	border-top:				1px solid #E0E0E0;	/* Grey */
}
.article-list>li:last-child {
	border-bottom:		1px solid #E0E0E0;	/* Grey */
}
.article-list a:link {
	color:						#333333;						/* Black */
}
.thumbnail-culumn {
	display:					inline-block;
	vertical-align:		middle;
	width: 						75px;
	height: 					75px;
	border-right:			1px solid #E0E0E0;	/* Grey */
}
.title-culumn {
	width: 						calc(100% - 75px - 0.5rem - 1px);
	height:						100%;
	display:					inline-block;
	vertical-align:		middle;
}
.title-column a {
	display:					block;
	line-height:			100%;
}
.article-title {
	line-height:			1.4rem;
	margin: 					0 0.5rem;
	overflow:					hidden;
  display: 					-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* -------------------------------------
 * Article
 * ---------------------------------- */
.article-body p {
	margin:						1rem 0.5rem;
}
.article-body>ul {
	list-style-type:	disc;
	margin: 					0.5rem;
}
.article-body>ol {
	list-style-type:	decimal;
	margin: 					0.5rem;
}
.article-body>ul>li {
	margin-left:			1.5rem;
}
.article-body>ol>li {
	margin-left:			2rem;
}
.article-body input {
	margin:						0.5rem;
}
/* h1, h2, h3, h4, h5, h6 ----------- */
article h1 {
	font-size:				1.6rem;
  margin:           1rem;
}
article h2 {
	font-size:				1.4rem;
  margin:           1rem;
}
article h3 {
 	position: 				relative;
	font-size:				1.2rem;
  margin:           1rem;
}
article h4,
article h5,
article h6 {
 	position: 				relative;
	font-size:				1.1rem;
  margin:           1rem;
}
/* table ---------------------------- */
.article-body>table {
	margin: 					0.5rem auto;
	width:						calc(100% - 1rem);
}
.article-body>table th,
.article-body>table td {
	padding:					0.25rem 0.25rem;
	border:						1px solid #E0E0E0;
	vertical-align:		middle;
}
.article-body>table td.thumbnail {
	width:						76px;
	height:						76px;
	padding:					0;
}
.article-body>table td p {
	margin:						0;
}
.article-body>table td .article-meta {
	text-align:				right;
	font-size:				0.8rem;
}
/* Article meta --------------------- */
.article-meta {
	margin:						1px 0.5rem;
	text-align:				right;
	font-size: 				0.8rem;
}
.article-meta .views {
	display:					inline-block;
	margin-left: 			0.5rem;
}
/* =============================================================================
 * Over 360px, for 360x640 (Galaxy S5).
 * ========================================================================== */
@media screen and (min-width: 360px) {
	.article-body p {
		margin:					1.5rem 1rem;
	}
}
/* =============================================================================
 * Over 375px, for 375x667 (iPhone 6, 7, 8, X).
 * ========================================================================== */
@media screen and (min-width: 375px) {
}
/* =============================================================================
 * Over 414px, for 414x736 (iPhone 6 Plus, 7 Plus, 8 Plus).
 * ========================================================================== */
@media screen and (min-width: 414px) {
}
/* =============================================================================
 * Over 768px, for 768x1024 (iPad). 
 * ========================================================================== */
@media screen and (min-width: 768px) {
	/* Search Form ---------------------- */				
	.searchform input{
		width: 						480px;
	}
	.searchform .searchbutton {
		width:						100px;
	}
}
/* =============================================================================
 * Over 1000px, for 1024x768 (iPad horizontal).	
 * ========================================================================== */
@media screen and (min-width: 1000px) {
	/* -------------------------------------
	 * Layout
   * ---------------------------------- */
	.sp {
		display: 				none;
	}
	.main-menu,
	#main-frame,
	.body-footer {
		width:					990px;
		margin:					0 auto;
	}
	main {
		display:				inline-block;
		vertical-align: top;
		width: 					calc(100% - 346px - 24px - 10px);
	}
	nav {
		display:				inline-block;
		vertical-align: top;
		width:					346px;
		height: 				100%;
		margin-left:		24px;
	}
	.body-header .wrap, .body-footer .wrap {
		width:					990px;
		margin:					0.5rem auto;
	}	
	/* -------------------------------------
   * Parts
   * ---------------------------------- */ 
	/* Pagination ----------------------- */
	.pagination .page-numbers {
		margin:					0.25rem;
		padding:				0.25rem;
		display:				inline-block;
		width: 					calc(100% / 14);
		height:					1.5rem;
		border:					1px solid #E0E0E0; /* Grey */
	}
	.pagination .dots,
	.pagination .current {
		border:					none;
	}
	/* Menu ----------------------------- */
	/* Singular nav two columns */
	nav .two-columns-wrap div.two-columns {
		text-align:			left;
		width: 					calc(100% - 2rem);
		border-left:		none;
	}
	/* Navigation menu */
	nav .menu-wrap li {
		display:				block;
		width:					calc(100% - 2rem);
	}
	nav .two-columns-wrap {
		display:				block;	
	}
	/* Home main menu two columns */
	.body-header .main-menu .two-columns-wrap div,
	.body-footer .main-menu .two-columns-wrap div {
		text-align:			center;
		display:				inline-block;
		width: 					calc(100% / 4 - 2rem - 2px);
		border-top:			1px solid #E0E0E0;
		border-left:		1px solid #E0E0E0;
		background-color:	white;
		font-size:			1rem;
	}
	/* Footer menu */
	.body-footer .footer-menu-wrap {
		text-align:			center;
	}
	.body-footer .footer-menu-wrap .menu-wrap div {
		font-size:			0.9rem;
		display:				inline-block;
		background-color:	inherit;
		width:					auto;
		border:					none;
	}
	.copyright {
		margin:						0 0 0.5rem 0;
	}
}
/* =============================================================================
 * Over 1200px, for 1366x768 (PC WXGA). 
 * ========================================================================== */
@media screen and (min-width: 1200px) {
}
/* =============================================================================
 * Over 1600px, for 1920x1080 (PC FHD).
 * ========================================================================== */
@media screen and (min-width: 1600px) {
}
