/* Wordpress required */
.wp-caption {
  margin:           0 auto;
}
.wp-caption-text {
	text-align:				center;
	font-size:				0.8rem;
}
.sticky {
}
.screen-reader-text {
}
.bypostauthor {
}
.alignright {
	text-align:				right;
}
.alignleft {
	text-align:				left;
}
.aligncenter {
	text-align:				center;
}
.gallery-caption {
}
/* WordPress recommend */
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 				100%;
	height: 					auto;
}
